@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}

.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 32px;
    font-family: Roboto, serif;
}

a{
    text-decoration: none;
    color: #1D3130;
    font-size: 16px;
    font-family: Roboto,serif;
}

a:hover{
    color: #FF583E;
    text-decoration: underline;
}

.big{
    font-size: 28px;
    color: #254F4C;
    font-weight: 900;
    margin-left: 32px;
    margin-right: 164px;
    font-family: Roboto, serif;
    letter-spacing: 0.5px;
}

.drinks{
    margin-right: 500px;
}