.sushiPage {
    display: flex;
    margin-top: 90px;
}

.allSushi{
    justify-content: space-between;
    border: 1px solid red;
    width: 500px;
    height: 300px;

}


.allSushi img{
    width: 180px;
    height: 150px;
}